@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}

@if (ViewData["userId"] != null)
{
    <div class="flex-horizontal">
        <div class="flex-vertical margin-20">
            <div class="round-border">
                <h2>Your balance</h2>
                <p id="balance"></p>
            </div>
            <div class="round-border">
                <h2>Your accounts</h2>
                <div id="accounts" class="data-table">
                
                </div>
            </div>
        </div>
        <div class="flex-vertical margin-20 round-border">
            <h2>Market</h2>
            <div id="coins" class="data-table">
                
            </div>
        </div>
        <div class="flex-vertical margin-20 round-border">
            <h2 class="text-center">Trade</h2>
            <div class="flex-horizontal">
                <div class="flex-vertical round-border">
                    <div>
                        <label for="select-coin-buy">Coin</label>
                        <select id="select-coin-buy"></select>
                        <label for="amount-buy">Amount</label>
                        <input id="amount-buy" type="number" min="0" />
                        <label for="rate-buy">Rate</label>
                        <span id="rate-buy"></span>
                        <button id="button-buy" disabled>Buy</button>
                    </div>
                </div>
                <div class="flex-vertical round-border">
                    <div>
                        <label for="select-coin-sell">Coin</label>
                        <select id="select-coin-sell"></select>
                        <label for="amount-sell">Amount</label>
                        <input id="amount-sell" type="number" min="0" />
                        <label for="rate-sell">Rate</label>
                        <span id="rate-sell"></span>
                        <button id="button-sell" disabled>Sell</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-controller="Auth" asp-action="LogOut">Log out</a>
    </div>
}

@section Scripts
{
    <script src="~/js/home.js"></script>
}
