@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["userId"] == null)
{
    <div>
        <a asp-controller="Auth" asp-action="SignIn">Sign in</a>
    </div>
    <div>
        <a asp-controller="Auth" asp-action="SignUp">Sign up</a>
    </div>

}
