@page
@model CryptoExchange.Views.Auth.SignInModel

<div>
    <form asp-controller="Auth" asp-action="SignIn">
        <input name="email" type="email" placeholder="Email" required value="1@gmail.com" />
        <input name="password" type="password" placeholder="Password" required value="123" />
        <button type="submit">Sign in</button>
    </form>
</div>
<div>
    <a asp-controller="Auth" asp-action="SignUp">Sign up</a>
</div>